



body {
    background-image: url("../images/Tennis.jpg");
}

main, footer, nav {
    background-color: rgba(238, 196, 11, 0.7);
}

footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.headingformats {

}

.portfolio img {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    
}

.aboutImg {
    float: left;
}

.container {
    width: 50%;
    margin-top: 20px;
}

h1 {
    text-align: center

}

@media screen and (max-width: 458px) {
    .row1 {
        margin-bottom: 17px;
    }
}